version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    groups:
      npm:
        patterns:
          - '*'
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "typescript"
      - dependency-name: "web-vitals"
        update-types: ["version-update:semver-major"]
    open-pull-requests-limit: 10
