.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a.index {
  align-items: center;
  display: flex;
  float: left;
  font-size: 25dvw;
  width: 25dvw;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

a.character {
  align-items: center;
  display: flex;
  font-size: 100dvmin;
  height: 100dvh;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: black;
}
