.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a.index {
  align-items: center;
  display: flex;
  float: left;
  font-size: 25dvw;
  width: 25dvw;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a.fullscreen {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

a.character {
  align-items: center;
  display: flex;
  font-size: 100dvmin;
  height: 75dvh;
  justify-content: center;
  margin: 12.5dvh 25dvw;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 50dvw;
  -webkit-tap-highlight-color: transparent;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: black;
}
